
// Primary colors
$primary-color: #5d2da4;
$primary-text-color: #333333;
$primary-background-color: #ffffff;

// Secondary colors
$secondary-color: #ffc107;
$secondary-text-color: #efefef;
$secondary-background-color: #f7f7f7;

// State colors
$error-color: #dc3545;
$state-found-color: #28a745;
$state-lost-color: #dc3545;
