
$primary-color: #5d2da4;
$primary-text-color: #333333;
$primary-background-color: #ffffff;

$secondary-color: #ffc107;
$secondary-text-color: #efefef;
$secondary-background-color: #f7f7f7;

$error-color: #dc3545;
