

// Structural Breakpoints
$breakpoint-small: 577px;
$breakpoint-medium: 769px;
$breakpoint-large: 1024px;

// Structural Heights
$header-height: 100px;
$footer-height: 75px;
$item-height: 150px;
$item-image-min-width: 150px;

// Structural Widths
$app-width: $breakpoint-large;
