
/** Site **/
.site {
  background: $secondary-background-color;
  -webkit-box-shadow: 0px 10px 20px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 10px 20px 3px rgba(0,0,0,0.25);
  box-shadow: 0px 10px 20px 3px rgba(0,0,0,0.25);

  .site-header, .site-footer {
    position: relative;
    z-index: 1000;
    width: 100%;
  }
}

// Site-header
.site-header {
  margin-bottom: 0;
  height: $header-height;
}


// Site-content
.site-content {
  background: $primary-background-color;
}


// Site-footer
.site-footer {
  height: $footer-height;
}

@media screen and (max-width: $breakpoint-small) {
  .site-footer {
    height: auto;
    padding: 0;
    margin: 0;

    > button {
      padding: .25rem;
      margin: .125rem;
    }
  }
}
