
.tab-nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  background-color: $primary-color;

  > li.tab-item {

    > button, button:focus {
      margin-top: .25rem;
      transition: .1s;
      border: none;
      border-radius: .5rem .5rem 0 0;
      color: $secondary-text-color;
      background-color: transparent;

      &.active {
        border: 1px rgba(0, 0, 0, .1);
        border-style: solid solid none solid;
        color: $primary-text-color;
        background-color: $primary-background-color;
        -webkit-box-shadow: 1px -1px 1px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 1px -1px 1px 0px rgba(0,0,0,0.25);
        box-shadow: 1px -1px 1px 0px rgba(0,0,0,0.25);
      }
    }
  }
}
